body, h1 {
    margin: 0;
    
}

.header {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    
}

.rightlist-links {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    
}

.header-leftctr {
    width: 50%;
    justify-content: flex-end;  
    
}

p, li {
    font-size: 18px;
    color: #E5E7EB;   
    
}


ul {
    display: flex;
    width: 50%;
    
    list-style: none;   
    
}

a {
    text-decoration: none;
}

.head-logo {
    padding-left: 100px;
    height: auto;
    width: 50px;
    
    
}