body, h1 {
    margin: 0;    
}

.header {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rightlist-links {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 200px;
    
}

.header-leftctr {
    width: 50%;
    justify-content: flex-end;  
    
}

p, li {
    font-size: 18px;
    color: #E5E7EB;   
    
}

ul {
    display: flex;
    width: 50%;    
    list-style: none;   
    
}

a, p {
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'Times New Roman', Times, serif;
}

.head-logo {
    padding-left: 200px;
    height: auto;
    width: 50px;   
    
}

.hero {
    background-color: #1F2937;
    
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    
}

.hero-intro {
    width: 500px;    
    
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-intro > p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-intro > button {
    background-color: #3883F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 20px;
}




.btc-img {
    height: auto;
    width: 400px;
}



