body, h1 {
    margin: 0;
    
}

.header {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.rightlist-links {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 200px;
}

.header-leftctr {
    width: 50%;
    justify-content: flex-end;  
}

p, li {
    font-size: 18px;
    color: #E5E7EB;   
}

ul {
    display: flex;
    width: 50%;    
    list-style: none;   
}

a, p {
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'Times New Roman', Times, serif;
}

.head-logo {
    padding-left: 200px;
    height: 50px;
    width: 50px;
    border: none;   
}


.hero {
    background-color: #1F2937;    
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;

 }

.hero-intro {
    width: 500px;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

.hero-intro > p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-intro > button {
    background-color: #3883F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 20px;
    
}

.btc-img {
    border: none;
    border-radius: 0%;
    height: auto;
    width: 400px;
}

h2 {
    font-size: 36px; 
    font-weight: bold;
    text-align: center;    
}

.crypto-ctr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 120px 100px;
    gap: 20px;
    
}
img {
    height: 150px;
    width: 150px;
    border: 5px solid #3883F6;
    border-radius: 20%;
}

p {
    color: black;
    font-size: 16px;
}

.quote-section { 
    display: flex;
    justify-content: center;
    align-items: center;     
    width: 100%;
    height: 400px;
    background-color: #E5E7EB;
}

.quote-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;    

}

.tapscott-quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;  
}

.author-name {    
    align-self: flex-end; 
    font-weight: bolder; 
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;    

}

.parag-btn {
    display: flex;
    background-color: #3883F6;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 10px;    
}

.cta-button > button {
    color: #E5E7EB;
    background-color: #3883F6;
    border: 2px solid #E5E7EB;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;

}

.cta-parag > p {
    color: #E5E7EB;

}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    text-align: center
}

.copyright {
    color: #E5E7EB;
    font-size: 18px;
}